* {
  border-left: 20px;
  box-sizing: border-box;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular.woff2') format('woff2'),
         url('../fonts/alexbrush-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
background-image: url("../images/dark1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
  font-family: Helvetica, Verdana, sans-serif;

.container {
    width: 100%;
    max-width: 1054px;
    margin: 0 auto;


  }

.main-nav{
  background-color:#189b81;
  display:table;height:100%;
  position:fixed;
  right:0;
  text-align:center;
  transform:translate3d(100%, 0, 0);
  transition:all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  width:320px;
  z-index:15;
  color: white;
}

  @media (min-width: 992px){
    .main-nav{
  background:transparent;
  display:block;
  height:auto;
  right:auto;
  -webkit-transform:none !important;
  transform:none !important;
  -webkit-transition:none !important;
  transition:none !important;
  width:auto;
  }
}


.main-nav a{
  border-bottom:1px solid #1dbe9e;
  display:block;font-size:34px;
  font-weight:200;
  padding:5px 5px 10px;z-index:9999;
  color: #677077;
  text-decoration: none;
}

.main-nav a:hover{
  color:#1bb193}

.main-nav a:nth-child(4){
  border:0 none}

@media (min-width: 992px){
  .main-nav a{
    border:0 none;font-size:22px;font-weight:700;padding:0;position:fixed}
.main-nav a:hover{
  color:#fff}
.main-nav a:after{
  border-bottom:3px solid #189b81;
  bottom:-3px;
  content:'';
  left:0;
  position:absolute;
  transition:all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  width:0}

.main-nav a:hover:after{
  width:100%}
.main-nav a:nth-child(1){
  left:20px;
  top:20px}
.main-nav a:nth-child(2){
  right:20px;
  top:20px}
.main-nav a:nth-child(3){
  left:20px;
  bottom:20px}
.main-nav a:nth-child(4){
  right:20px;
  bottom:20px}}
.main-nav-toggle{
  display:block;
  height:50px;
  position:fixed;
  right:0;
  top:0;
  width:50px;
  z-index:20;
}
.middle {
  clear: both;
  text-align: center;
  height: 300px;
  width: 100%;
  margin: 0 auto;

}

.middle .topLine a {
font-size:70px;
height: 15%;
margin-bottom: 20px;
color: white;
text-decoration: none;


}
.middle .middleLine h2 {
line-height: 30px;
font-family:  'alex_brushregular';
font-size: 35px;
color: white;
text-shadow: 4px 2px 5px #677077;

}
section {
  text-align: center;
  font-size: 40px;
  font-family: inherit;
  color: white;
  top: 50%;
  line-height: 2;
}

.goTo {
  font-size: 20px;
  font-weight: bold;


}
.goTo1, .goTo2 {
  float: left;
  text-align: center;
  display: inline-block;
  width: 50%;
}
.goTo a {

  color: white;
  text-decoration: none;

}
.triangle {
  color:#189b81;
  line-height:2em;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
	border-top: 10px solid #189b81;;
	margin: 100px auto 0;
  display: inline-block;
  margin-top: 10px;


}
.left {
  float: left;
}
.right {
  float: right;
}
}
